:root{
  --background-color: #1F1D2B;
  --input-bg: #353340;
}



.App{
  background-color: var(--background-color);
  height: 100vh;
  overflow-y: scroll;
  padding:2em;
}



.video:first-of-type > div > div > iframe{
  width: 800px;
}

iframe{
border-radius: 15px;
}


input{
  background-color: var(--input-bg);
  border:none;
  height:26px;
  margin-bottom: 2em;
  width: 400px;
  padding: .4em;
  padding-left: .8em;
  border-radius:5px 0 0 5px;
  color: rgba(230, 225, 225, .5);
}

input:focus{
  outline: none;
}


form{
  display:flex;
}
.btn-search{
  width: 35px;
  height:26px;
  background: url("./search.png") no-repeat center;
  background-color:var(--input-bg);
  background-size: 40% ;
  border: none;
  border-radius: 0 5px 5px 0px;
  cursor:pointer;

}