:root {
  --background-color: #1f1d2b;
  --input-bg: #353340;
}

.App {
  background-color: var(--background-color);
  height: auto;
  min-height: 100vh;
  overflow-y: scroll;
  padding: 2em;
  display: flex;
  width: 100vw;
  overflow-x: hidden;
}

input {
  background-color: var(--input-bg);
  border: none;
  height: 26px;
  margin-bottom: 2em;
  width: 400px;
  padding: 0.4em;
  padding-left: 0.8em;
  border-radius: 5px 0 0 5px;
  color: rgba(230, 225, 225, 0.5);
}

input:focus {
  outline: none;
}

form {
  display: flex;
}
.btn-search {
  width: 35px;
  height: 26px;
  background: url("./search.png") no-repeat center;
  background-color: var(--input-bg);
  background-size: 40%;
  border: none;
  border-radius: 0 5px 5px 0px;
  cursor: pointer;
}

.btn-search:hover {
  transform: scale(0.9);
}
.mainVideo > .video > div > div > iframe {
  width: 600px;
  height: 300px;
}

.mainVideo > .video > div{
  margin-bottom: 200px;
}

.mainSection {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.listSection {
  width: 35%;
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
